<h1>Carrito de compras</h1>
<h2>ID del carrito: {{id}}</h2>
<a href="{{hostURL}}/api/carts/{{id}}/purchase"><Button>Finalizar Compra</Button></a>


{{#each data }}

    <div class="producto">
        <h2>{{this.title}}</h2>

        <p>Unidades: {{this.quantity}}</p>
        <p>ID: {{this._id}}</p>
        <p>Código: {{this.code}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Descripción: {{this.description}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Subcategoría: {{this.subCategory}} </p>
        <p>Género: {{this.genre}}</p>
        <p>Stock: {{this.stock}}</p>

        
        <div class="thumbnails">
             <p>Imagenes del producto</p>
            {{#each this.thumbnails }}
             <img src="{{this}}" alt="imagen">
           {{/each }}
        </div>
    </div>

{{/each }}

